<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nitravangla.udgam2k18">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/udgam"
        android:label="Udgam&apos;18"
        android:roundIcon="@drawable/udgam"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.nitravangla.udgam2k18.splaash.WelcomeActivity"
            android:label="Udgam&apos;18"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorAccent" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nitravangla.udgam2k18.MainActivity"

            android:exported="true"
            android:label=" Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nitravangla.udgam2k18.gallery.gallery"


            android:label="Gallery"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity

            android:name="com.nitravangla.udgam2k18.Contacts.Contacts"

            android:label="@string/title_activity_contacts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nitravangla.udgam2k18.event.mData.eventDet"

            android:label="eventDet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nitravangla.udgam2k18.event.events"

            android:label="Event"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nitravangla.udgam2k18.Developer.developer"

            android:label="Developers"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nitravangla.udgam2k18.about_udgam.udgam"

            android:label="About Udgam" />
        <activity
            android:name="com.nitravangla.udgam2k18.guests.guest"

            android:label="Guests" />
        <activity
            android:name="com.nitravangla.udgam2k18.Sponsers.sponser"

            android:label="Sponsers" />

        <service android:name="com.nitravangla.udgam2k18.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.nitravangla.udgam2k18.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.nitravangla.udgam2k18.login"></activity>
    </application>

</manifest>